*.swp
__pycache__/
parallax/*.png
*.log
*.npy
*.npz
*.pkl
*.csv
*.qrc
training
env
gitkey
gitkey.pub

# Distribution / packaging
*.egg-info
build/
wheels/
lib/
dist/
external/

# Sphinx documentation
docs/_build/

# User-specific files
data
debug

# Unit test / coverage reports
.coverage

# Environments
venv/