*.swp
__pycache__/
parallax/*.png
*.log
*.npy
*.npz
*.pkl
*.csv
*.qrc
training
env
gitkey
gitkey.pub

# Distribution / packaging
*.egg-info
build/
wheels/
lib/
dist/
external/*
!external/YoloV11/tip_keypoint_detection_accurate.pt
!external/YoloV11/global_segmentation_fast.pt

# Sphinx documentation
docs/_build/

# User-specific files
data/*
!data/yolo_config.yaml
debug

# Unit test / coverage reports
.coverage

# Environments
venv/