*.swp
__pycache__/
parallax/*.png
*.log
*.npy
*.npz
*.pkl
*.csv
data
training
env
gitkey
gitkey.pub

# Distribution / packaging
*.egg-info
build/
debug/
debug_images/
wheels/
lib/
dist/

# Sphinx documentation
docs/_build/

# User-settings
ui/settings.json
ui/reticle_metadata.json

# Unit test / coverage reports
.coverage

# Environments
venv/