[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"
 
[project]
name = "parallax-app"
authors = [
  { name="Hanna Lee", email="hanna.lee@alleninstitute.org" },
]
description = "GUI software for photogrammetry-assisted probe targeting in electrophysiology"
license =  {text = "Allen Institute Software License"}
readme = "README.md"
keywords = ["parallax"]
dynamic = ["version"]
requires-python = "~=3.8"
classifiers = [
    "Programming Language :: Python :: 3"
]

dependencies = [
    "pip",
    "PyQt5>=5.15",
    "pyqtgraph",
    "opencv-python",
    "spinnaker-python", 
    "scipy",
    "pandas",
    "scikit-image",
    "requests",
    "scikit-learn"
   ]
 
[tool.setuptools]
packages = ["parallax", "ui", "img"]

[tool.setuptools.dynamic]
version = {attr = "parallax.__version__"}
readme = {file = "README.md"}
 
[project.optional-dependencies]
linters = [
    'codespell',
    'coverage',
    'flake8',
    'interrogate',
    'isort'
]

docs = [
    'Sphinx',
    'sphinx-jinja',
    'furo'
]

[tool.interrogate]
fail-under = 100
 
[tool.codespell]
skip = ".git,*.json,*.log"
 
[tool]
homepage = "https://github.com/AllenNeuralDynamics/parallax"
repository = "https://github.com/AllenNeuralDynamics/parallax"
documentation = "https://github.com/AllenNeuralDynamics/parallax/wiki"