.red {
    color: red;
}
.yellow {
    color: yellow;
}
.blue {
    color: blue;
}
.inline-images img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.inline-images span {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin-right: 10px;
}
